## Instalación librerías necesarias

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2
! pip3 install names

## Importación librerías

In [1]:
from datetime import datetime
import random as r
import names
import string
import psycopg2

## Conectarse a la BD

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/nombre_bd

### DROP TABLE

In [ ]:
%%sql
DROP TABLE personas

## Creación tablas

### Tabla "usuarios"

In [ ]:
%%sql
CREATE TABLE usuarios(
    ID INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR NOT NULL,
    apellido VARCHAR,
    email VARCHAR NOT NULL,
    password VARCHAR NOT NULL,
    suscripcion_activa BOOL
);

### Tabla "artistas"

In [ ]:
%%sql
CREATE TABLE artistas(
    ID INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR NOT NULL,
    apellido VARCHAR,
    email VARCHAR NOT NULL,
    password VARCHAR NOT NULL,
    nombre_artistico VARCHAR,
    verificado BOOL
);

### Tabla "canciones"

In [ ]:
%%sql
CREATE TABLE canciones(
    ID INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR NOT NULL,
    letra VARCHAR,
    fecha_composicion DATE
);

### Tabla "artista_compuso_cancion"

In [ ]:
%%sql
CREATE TABLE artista_compuso_cancion(
    ID_artista INTEGER,
    ID_cancion INTEGER,
    PRIMARY KEY (ID_artista, ID_cancion),
    FOREIGN KEY (ID_artista) REFERENCES artistas (ID),
    FOREIGN KEY (ID_cancion) REFERENCES canciones (ID)
);

### Tabla "album"

In [ ]:
%%sql
CREATE TABLE album(
    ID INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR,
    imagen VARCHAR,
    fecha_lanzamiento DATE
);

### Tabla "album_tiene_cancion"

In [ ]:
%%sql
CREATE TABLE album_tiene_cancion(
    ID_album INTEGER,
    ID_cancion INTEGER,
    PRIMARY KEY (ID_album, ID_cancion),
    FOREIGN KEY (ID_album) REFERENCES album (ID),
    FOREIGN KEY (ID_cancion) REFERENCES canciones (ID)
);

## Espacio para manipular la BD (rellenar datos o hacer consultas)

In [ ]:
%%sql
SELECT * FROM usuarios;