In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (0.4.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\users\vicho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ipython>=1.0 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.4.33)
Requirement already satisfied: sqlparse in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: jedi>=0.16 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: setuptools>=18.5 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (1.4.33)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.2)

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\users\vicho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (2.9.3)

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\users\vicho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\vicho\appdata\local\programs\python\python39\lib\site-packages (0.3.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\users\vicho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:minestrone1@localhost:5432/SitioWeb

env: DATABASE_URL=postgresql://postgres:minestrone1@localhost:5432/SitioWeb

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='SitioWeb',
   password="minestrone1"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000219AD8BA8C0; dsn: 'user=postgres password=xxx dbname=SitioWeb host=localhost', closed: 0>

### Tabla "Artistas"

In [5]:
%%sql
CREATE TABLE artistas (
    ID_artista int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    apellido varchar,
    email varchar NOT NULL UNIQUE,
    password varchar NOT NULL,
    nombre_artistico varchar,
    verificado boolean
);

Done.

[]

### Tabla "Usuarios"

In [6]:
%%sql
CREATE TABLE usuarios (
    ID_usuario int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    apellido varchar,
    email varchar NOT NULL UNIQUE,
    password varchar NOT NULL,
    suscripcion_activa boolean
);

 * postgresql://postgres:***@localhost:5432/SitioWeb
Done.

[]

### Tabla "Canciones"

In [7]:
%%sql
CREATE TABLE canciones(
    ID_cancion int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    letra varchar,
    fecha_composicion date
);

 * postgresql://postgres:***@localhost:5432/SitioWeb
Done.

[]

### Tabla "Album"

In [8]:
%%sql
CREATE TABLE album(
    ID_album int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre_album varchar,
    imagen varchar,
    fecha_lanzamiento date
);

 * postgresql://postgres:***@localhost:5432/SitioWeb
Done.

[]

### Tabla "Album_tiene_cancion" y "Artista_compuso_cancion"

In [9]:
%%sql
CREATE TABLE album_tiene_cancion(
    id_album int,
    id_cancion int,
    PRIMARY KEY (id_album, id_cancion),
    FOREIGN KEY (id_album) REFERENCES album (ID_album),
    FOREIGN KEY (id_cancion) REFERENCES canciones (ID_cancion)
);

 * postgresql://postgres:***@localhost:5432/SitioWeb
Done.

[]

In [10]:
%%sql
CREATE TABlE artista_compuso_cancion(
    id_artista int,
    id_cancion int,
    PRIMARY KEY (id_artista, id_cancion),
    FOREIGN KEY (id_artista) REFERENCES artistas (ID_artista),
    FOREIGN KEY (id_cancion) REFERENCES canciones (ID_cancion)
);

 * postgresql://postgres:***@localhost:5432/SitioWeb
Done.

[]

In [11]:
%%sql
INSERT INTO CANCIONES(id_cancion, nombre, letra, fecha_composicion) 
VALUES(1,'Long Flight','is it me, or is it somebody else', '2022-05-31');

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[]

In [12]:
%%sql
INSERT INTO ARTISTAS(id_artista,nombre, apellido, email, password, nombre_artistico, verificado)
VALUES(3,'Human','Tetris','humantetris@hola.com', 'hola3', 'Human Tetris', TRUE);

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[]

In [13]:
%%sql
INSERT INTO artista_compuso_cancion(id_artista,id_cancion)
VALUES(3,3);

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[]

In [14]:
%%sql
INSERT INTO album(id_album,nombre_album,imagen,fecha_lanzamiento)
VALUES(2,'macha depre','wea1.png', '2022-05-31');

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[]

In [18]:
%%sql
INSERT INTO album_tiene_cancion(id_album,id_cancion)
VALUES(2,3);

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[]

In [19]:
%%sql
SELECT canciones.id_cancion, canciones.nombre, artistas.nombre_artistico, album.nombre_album
FROM 
    canciones INNER JOIN artista_compuso_cancion ON canciones.id_cancion = artista_compuso_cancion.id_cancion
    INNER JOIN artistas ON artistas.id_artista = artista_compuso_cancion.id_artista
    INNER JOIN album_tiene_cancion ON canciones.id_cancion = album_tiene_cancion.id_cancion
    INNER JOIN album ON album.id_album = album_tiene_cancion.id_album;

 * postgresql://postgres:***@localhost:5432/SitioWeb
1 rows affected.

[(3, 'Long Flight', 'Human Tetris', 'macha depre')]