In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [ ]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:minestrone1@localhost:5432/SitioWeb

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='SitioWeb',
   password="minestrone1"
)

print(connection)
cursor = connection.cursor()

### Tabla "Artistas"

In [ ]:
%%sql
CREATE TABLE artistas (
    ID_artista int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    apellido varchar,
    email varchar NOT NULL UNIQUE,
    password varchar NOT NULL,
    nombre_artistico varchar,
    verificado boolean
);

### Tabla "Usuarios"

In [ ]:
%%sql
CREATE TABLE usuarios (
    ID_usuario int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    apellido varchar,
    email varchar NOT NULL UNIQUE,
    password varchar NOT NULL,
    suscripcion_activa boolean
);

### Tabla "Canciones"

In [ ]:
%%sql
CREATE TABLE canciones(
    ID_cancion int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre varchar NOT NULL,
    letra varchar,
    fecha_composicion date
);

### Tabla "Album"

In [ ]:
%%sql
CREATE TABLE album(
    ID_album int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
    nombre_album varchar,
    imagen varchar,
    fecha_lanzamiento date
);

### Tabla "Album_tiene_cancion" y "Artista_compuso_cancion"

In [ ]:
%%sql
CREATE TABLE album_tiene_cancion(
    id_album int,
    id_cancion int,
    PRIMARY KEY (id_album, id_cancion),
    FOREIGN KEY (id_album) REFERENCES album (ID_album),
    FOREIGN KEY (id_cancion) REFERENCES canciones (ID_cancion)
);

In [ ]:
%%sql
CREATE TABlE artista_compuso_cancion(
    id_artista int,
    id_cancion int,
    PRIMARY KEY (id_artista, id_cancion),
    FOREIGN KEY (id_artista) REFERENCES artistas (ID_artista),
    FOREIGN KEY (id_cancion) REFERENCES canciones (ID_cancion)
);

In [ ]:
%%sql
INSERT INTO CANCIONES(id_cancion, nombre, letra, fecha_composicion) 
VALUES(1,'Long Flight','is it me, or is it somebody else', '2022-05-31');

In [ ]:
%%sql
INSERT INTO ARTISTAS(id_artista,nombre, apellido, email, password, nombre_artistico, verificado)
VALUES(1,'Human','Tetris','humantetris@hola.com', '$2y$12$hmUeABTjgEFfDntiqRKdq.qtUv3P6VaKbsgcDCYeEB9jr8AWLEFG6', 'Human Tetris', TRUE);
INSERT INTO ARTISTAS(id_artista,nombre, apellido, email, password, nombre_artistico, verificado)
VALUES(2,'Martin','Morales','martinmor@hotmail.com', '$2y$12$CQUwklrVVkrL342peSfw/OqzI1hlOhwjhHQivAPxMN8AcfK41NHU6', 'Ricky Martin', TRUE);

In [ ]:
%%sql
INSERT INTO artista_compuso_cancion(id_artista,id_cancion)
VALUES(1,1);

In [ ]:
%%sql
INSERT INTO album(id_album,nombre_album,imagen,fecha_lanzamiento)
VALUES(1,'macha depre','wea1.png', '2022-05-31');

In [ ]:
%%sql
INSERT INTO album_tiene_cancion(id_album,id_cancion)
VALUES(1,1);

In [ ]:
%%sql
SELECT canciones.id_cancion, canciones.nombre, artistas.nombre_artistico, album.nombre_album
FROM 
    canciones INNER JOIN artista_compuso_cancion ON canciones.id_cancion = artista_compuso_cancion.id_cancion
    INNER JOIN artistas ON artistas.id_artista = artista_compuso_cancion.id_artista
    INNER JOIN album_tiene_cancion ON canciones.id_cancion = album_tiene_cancion.id_cancion
    INNER JOIN album ON album.id_album = album_tiene_cancion.id_album;